body{
	margin: 0;
	padding: 0;
}
.heading{
 	/*border: 2px solid blue;*/
 	overflow: hidden;
 	background: black;
}
.logo{
	 /*border: 2px solid blue;*/
	width: 40%;
	float: left;
	text-align: center;
}
.logo h1{
	color: white;
	font-family:sans-serif;
}
.sign-in{
	 /*border: 2px solid blue;*/
	width: 58%;
	float: right;
	height: 70px;
	padding-top: 10px;
}
.sign-in input{
	padding: 5px;
	border-radius:3px;
	font-family:sans-serif;
}
#btn1{
padding: 5px;
border-radius:3px;
cursor:pointer;
font-family:sans-serif;
}
.sign-in a{
	color:white;
	font-size:small;
	text-decoration: none;
	font-family:sans-serif;
}
.sign-in a:hover{
	 text-decoration: underline;
}
.join{
	 /*border: 2px solid blue;*/
	 overflow: hidden;
	 background-image: url(images.jpg);
	 

}
.none1{
	height: 130px;
	width: 32%;
	float: left;
}
.join-now{
	 /*border: 2px solid blue;*/
	 width: 30%;
	 float: left;
	 background:white;
	 margin-top: 20px;
	 margin-bottom: 20px;
	 padding:2%;
	 border-radius: 5px;
}
.join-now input{
	padding: 5px;
	width:90%;
	font-family:sans-serif;

}
.join-now label{
	font-family:sans-serif;
}
.join-now h2{
	text-align:center;
	font-family:sans-serif;
}
.join-now h4{
	text-align:center;
	font-family:sans-serif;
}
.join-now p{
	text-align:center;
	font-size:small;
	font-family:sans-serif;
}
#btn2{
	padding: 7px;
	width:90%;
	text-align: center;
	cursor: pointer;
	background:yellow;
	border-radius: 3px;
	font-size:15px;
	font-weight: bold;
	font-family:sans-serif;
}
.none2{
	height: 130px;
	width: 30%;
	float: right;
}
.footer{
	 /*border: 2px solid blue;*/
}
.colleague{
	text-align: center;
	padding-left: 360px;
	background: #1A260D;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family:sans-serif;
}
.colleague a{
	text-decoration: none;
	font-size:small;
	color:white;
}
.colleague input{
	padding:5px;
	margin-left:5px;
}
.colleague label{
	color:white;
	font-family:sans-serif;
}
#btn3{
	padding:5px;
	border-radius:3px;
	font-family:sans-serif;
	
}
.colleague a{
	font-family:sans-serif;
	font-size:small;
}
#ab{
	color:blue;
}
#ac{
	color:blue;
}
.colleague a:hover{
	 text-decoration: underline;
}
.service{
	background: #1A260D;
	padding-left:345px;
	padding-bottom:50px;
}
.service a{
	font-size:small;
	color:white;
	text-decoration:none;
	font-family:sans-serif;
}
.service a:hover{
	 text-decoration: underline;
}
.service label{
	color:white;
	font-family:sans-serif;
}
.service tr td{
	padding-left:15px
}
